{
  "singleQuote": true,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "tabWidth": 2
}
